/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: rgb(203, 254, 255);
}
body {
  color: #rgb;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

th  {
  text-align: center
}